@model Lab02.Models.PlayerModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Jugador</h1>


<div>
    <h4>Jugador a Elminar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KDA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KDA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreepScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreepScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
