@model IEnumerable<Lab02.Models.TeamModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipos</h1>

<p>
    <a asp-action="Create">Crear Nuevo Equipo</a>
</p>
<hr />
<p>
    <b>Cargar Equipo desde CSV</b>
</p>
<form asp-controller="Team" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
   <br />
   <br />
    <button type ="submit">Cargar</button>
    <hr />
</form>
<b>Buscar Equipos</b>
<form asp-action="SearchTeam">
    <br />
    <p>
        <input type="search" placeholder="Ingrese nombre, entrenador, fecha o liga..." value="@ViewData["GetPlayerImplemented"]" name="search" style="width:400px;" />
        <input type="submit" value="Buscar" class="btn btn-outline-primary" />
    </p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.League)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id= item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new {id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
